<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Healthcare Dashboard">
    <title>Dashboard</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/datatables/datatables.min.css}" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css"/> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>

    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar(loggedUser=${loggedUser})"></div>

    <div class="container mt-4 pb-5">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ol>
        <h1>Benvenuto, <span th:text="${loggedUser.getName()}">Name</span> <span th:text="${loggedUser.getSurname()}">Surname</span>
        </h1><br>
        <!-- Card with Dashboard Title and DataTable -->
        <div class="card mt-6 mb-5">
            <div class="card-header bg-primary text-white d-flex justify-content-between">
                <h4 class="mb-0">Pazienti</h4>
                <a href="/edit-patient" sec:authorize="hasRole('COORD') or hasRole('MED_FAM') or hasRole('MED_PAL')" class="btn btn-light btn-sm">
                    <i class="bi bi-person-plus-fill"></i> Aggiungi paziente
                </a>
            </div>
            <div class="p-4">
                <table id="dashboardTablePatients" class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Cognome</th>
                        <th scope="col">Data di nascita</th>
                        <th scope="col">Sesso</th>
                        <th scope="col">Diagnosi</th>
                        <th scope="col">Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient : ${patients}">
                        <td th:text="${patient.name}">John</td>
                        <td th:text="${patient.surname}">Doe</td>
                        <td th:text="${#temporals.format(patient.birthDate, 'dd.MM.yyyy')}">01/01/1980</td>
                        <td th:text="${patient.sex}">Male</td>
                        <td th:text="${patient.diseaseCategory.name}">Cardiology</td>
                        <td>
                            <a th:href="@{'/patient/' + ${patient.id}}"
                               class="btn btn-primary btn-sm">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                            <a sec:authorize="hasRole('COORD') or hasRole('MED_FAM') or hasRole('MED_PAL')" th:href="@{/edit-patient(id=${patient.id})}"
                               class="btn btn-warning btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a sec:authorize="hasRole('COORD') or hasRole('MED_FAM') or hasRole('MED_PAL')" type="button"
                               class="btn btn-danger btn-sm"
                               data-bs-toggle="modal"
                               data-bs-target="#deleteModal"
                               th:attr="data-id=${patient.id}, data-name=${patient.name + ' ' + patient.surname}, data-type='patient'">
                                <i class="bi bi-trash"></i>
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div sec:authorize="hasRole('COORD') or hasRole('MED_FAM') or hasRole('MED_PAL')" class="card mt-6">
            <div class="card-header bg-primary text-white d-flex justify-content-between">
                <h4 class="mb-0">Personale sanitario</h4>
                <a href="/edit-professional" class="btn btn-light btn-sm">
                    <i class="bi bi-person-plus-fill"></i> Aggiungi figura sanitaria
                </a>
            </div>
            <div class="p-4">
                <table id="dashboardTableHp" class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Cognome</th>
                        <th scope="col">Ruolo</th>
                        <th scope="col">Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="hp : ${healthcarePersonnel}" th:if="${hp.id} != ${loggedUser.id}">
                        <td th:text="${hp.name}">John</td>
                        <td th:text="${hp.surname}">Doe</td>
                        <td th:text="${hp.role.getRole()}">Coordinatore</td>
                        <td>
                            <a th:href="@{'/healthcare-professional/' + ${hp.id}}"
                               class="btn btn-primary btn-sm">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                            <a th:href="@{/edit-professional(id=${hp.id})}"
                               class="btn btn-warning btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a type="button"
                               class="btn btn-danger btn-sm"
                               data-bs-toggle="modal"
                               data-bs-target="#deleteModal"
                               th:attr="data-id=${hp.id}, data-name=${hp.name + ' ' + hp.surname}, data-type='professional'">
                                <i class="bi bi-trash"></i>
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<div th:replace="fragments/popup :: alerts(${successMessage}, ${errorMessage})"></div>

<!--    finestra per visualizzare il link x autorizzare garmin-->
<div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true"
     th:attr="data-show=${activationLink != null}">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow">

            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="linkModalLabel">Link paziente generato</h5>
                <a type="button" class="btn-close btn-close-white" th:href="@{/dashboard}"></a>
            </div>

            <div class="modal-body text-center">
                <input type="text" class="form-control mb-3 fw-bold text-break text-center"
                       id="myInput" th:value="${activationLink}" readonly>

                <button type="button"
                        class="btn btn-outline-primary btn-sm"
                        onclick="copyLink()">
                    <i class="bi bi-clipboard"></i> Copia link
                </button>

                <div id="copiedAlert" class="text-success mt-2 d-none">Link copiato!</div>

            </div>

            <div class="modal-footer justify-content-center">
                <a class="btn btn-secondary" th:href="@{/dashboard}">Chiudi</a>
            </div>

        </div>
    </div>
</div>

<!-- Scripts -->
<script th:src="@{/vendor/datatables/datatables.min.js}"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

<script th:if="${activationLink != null}" th:inline="javascript">
    /*<![CDATA[*/
    var myModal = new bootstrap.Modal(document.getElementById('linkModal'));
    myModal.show();
    /*]]>*/
</script>


<!-- funzione per copiare il link -->
<script>
    function copyLink() {
        var copyText = document.getElementById("myInput");

        // Seleziona il testo
        copyText.select();
        copyText.setSelectionRange(0, 99999); // Per dispositivi mobili

        // Copia il testo
        navigator.clipboard.writeText(copyText.value).then(function () {
            const alert = document.getElementById('copiedAlert');
            alert.classList.remove('d-none');
            setTimeout(() => alert.classList.add('d-none'), 2000);
        }).catch(function (err) {
            console.error("Errore nella copia:", err);
        });
    }
</script>

<script>
    $(document).ready(function () {
        const commonOptions = {
            responsive: true,
            scrollX: true,
            language: {
                search: "Cerca:",
                lengthMenu: "Mostra _MENU_ risultati",
                info: "Mostrando da _START_ a _END_ di _TOTAL_ risultati",
                paginate: {
                    previous: "←",
                    next: "→"
                }
            }
        };

        $('#dashboardTablePatients').DataTable(commonOptions);
        $('#dashboardTableHp').DataTable(commonOptions);
    });
</script>
</html>